body{
    background-color: #e2e1e0;
    font-family:Volkhov;
}
.blocks{
    background-color: white;
    height: auto;
    min-height: 200px;
    width: 100%;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 18.5px;
}

.guessGameContainer {
    display: flex;
}

#mainpanel{
    padding: 60px;
    background-color: #FF6766 ;
}

.btn{
    margin-top: 10px;
    border-radius: 0px;
    font-size: 25px;
}
.btn:focus{
    outline: none;
}
#gno{
    border-radius: 50px;
    width: 70%;
}

.badge{
    font-size: 20px;
    border-radius: 500px;
}




/*HINT SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/*HINT SWITCH*/



/*DIFFICULTY RADIO*/
/* The difficultyOptions */
.difficultyOptions {
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

/* Hide the browser's default radio button */
.difficultyOptions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.difficultyOptions:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.difficultyOptions input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.difficultyOptions input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.difficultyOptions .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/*DIFFICULTY RADIO*/


.flex {
    display: flex;
}

.flexsplit__flex {
    flex: 1 1 auto;
}

.space-between {
    justify-content: space-between;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.opacity--0 {
    opacity: 0;
}

.width--100 {
    width: 100%;
}

.width--200 {
    width: 200%;
}

.pad--16 {
    padding: 16px;
}

.pad--16--horizontal {
    padding: 0 16px;
}


@media only screen and (max-width: 640px) {
    .guessGameContainer {
        flex-wrap: wrap;
    }
}